<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713357962499-7i4kbemmvmsiioa4orf66616kdckn9g1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713357962499-7i4kbemmvmsiioa4orf66616kdckn9g1</string>
	<key>API_KEY</key>
	<string>AIzaSyCQS75kCwcYZ75zKmQWqlnoXO8nwrlxIsA</string>
	<key>GCM_SENDER_ID</key>
	<string>713357962499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alilpup.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-85fb8</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-85fb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713357962499:ios:eb4200bde0976464ac8d36</string>
</dict>
</plist>